<!DOCTYPE html>
<html lang="zh-CN">
<head>
<link rel="Stylesheet" type="text/css" href="%root_path%style.css">
<title>%title%</title>
<meta charset="UTF-8">
<meta name="description" content="我的世界游戏攻略网站">
<meta name="keywords" content="我的世界,攻略,教程,Minecraft,MC,當個創世神,麥塊">
<meta name="author" content="Mike Akiba">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script data-ad-client="ca-pub-5897293653782166" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<div id="content">
%content%
<p><small>更新于%date% 
<a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fminecraft-gonglve.com">校验HTML</a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fminecraft-gonglve.com%2Fstyle.css&profile=css3svg&usermedium=all&warning=1&vextwarning=">校验CSS</a>
</small></p>
</div>
</body>
</html>
